.navbar {
	width: 100%;
	height: 70px;
	background-color: #14cbcb;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.name h1{
	display: flex;
	justify-content: center;
	margin-top: 15%;
	color: #14cbcb;
	font-size: 45px;
	font-weight: 600;
}